<!DOCTYPE html>
<html>
<head>
	<title>Vue Test</title>
	<link rel="stylesheet" href="style.css">
	<script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
	<div id="vue-app">
		
		<!-- Looping with v-for -->
		<ul>
			<li v-for="(browser, index) in browsers">{{ index }}. {{ browser }}</li>
			<li v-for="(name, index) in names">{{ index }}. Name = {{ name.name }}, Age = {{ name.age }}</li>
		</ul>

		<template v-for="name in names">
			<div v-for="(val, key) in name">
				{{ key }} - {{ val }}
			</div>
		</template>

	</div>
	<script src="app.js"></script>
</body>
</html>